@model VendorApp.Models.ViewModels.LocationOrders

<h2>@Model.LocationName's Received Orders</h2>

@if(Model.OrderItems == null || Model.OrderItems.Count() == 0)
{
  <div class="card w-100">
    <div class="card-header">
      No Orders
    </div>
    <div class="card-body">
      <h5 class="card-title">No orders were made from this location</h5>
    </div>
  </div>
} else {
  <ul class="list-group">
    @foreach (var orderItem in Model.OrderItems)
    {
        <li class="list-group-item">
          <div class="d-flex justify-content-around">
            <div>
              Purchaser: @orderItem.Order.User.UserName
            </div>
            <div>
              Product: @orderItem.ProductName
            </div>
            <div>
              Amount Purchased: @orderItem.AmountPurchased
            </div>
            <div>
              Date: @orderItem.Order.CreatedDate
            </div>
          </div>
        </li>
    }
  </ul>
}
